CMakeCache.txt
CMakeFiles/
oprofile_data/
reproducers/output
src/tests/INFILE_temporary.yaml
INFILE.yaml
*-generated.yaml
Makefile
DATA_vs_TIME
luawrap_tests
cmake_install.cmake
CTestTestfile.cmake
graph*
build
debug_build
release_build
callgrind.out.*
POSITIONS*
output/*
.libs
*.a
*.o
*.swp
*.so
*.sav
*.dat
*.xyz
*.json
*.gexf
*.yaml-generated
*.csv
*.pyc
*.svg
yaml-cpp.pc
tests/pass_logs
tests/fail_logs
tests/TEST.yaml
tests/stagnant_logs
tests/observables
.serialize-temp
